:root {
    --black: black;
    --brown: #979086;
    --bg: #e7e4dc;
    --yellow: #cfd858;
    --green: #454e3e;
    --tomato: #ff917e;
    --highlight:#ff775f;
    --white-smoke: #e9e9e9;
    --white: white;
    --monstreat:"Montserrat", sans-serif;
    --raleway:"Raleway", sans-serif;
    --lato:"Raleway", sans-serif;
    --josefin: "Josefin Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --outfit:"Outfit", sans-serif;
    --freeman:"Freeman", sans-serif;
    --bebas:"Bebas Neue", sans-serif;
    --anton:"Anton SC", sans-serif;
    --heebo:"Heebo", sans-serif;
    --bar-width:30px;
    --bar-height:5px;
    --hamburger-gap:3px;
    --foreground:#333;
    --background:white;
    --hamburger-margin:8px;
    --animation-timing:200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
}

*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
}


.slide-container{
	position: relative;
	display: flex;
    /* padding: 0;
    margin: 0; */
}

.slide-content{
    min-width: 100%;
    min-height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;

}


.section{
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slide-one{
	background-color: rgb(0, 255, 251);
}

.slide-two{
	background-color: rgb(73, 67, 255);
}

.slide-three{
	background-color: rgb(0, 255, 51);
}
