:root {
    --black: black;
    --brown: #979086;
    --bg: #e7e4dc;
    --yellow: #cfd858;
    --green: #454e3e;
    --tomato: #ff917e;
    --highlight:#ff775f;
    --white-smoke: #e9e9e9;
    --white: white;
    --monstreat:"Montserrat", sans-serif;
    --raleway:"Raleway", sans-serif;
    --lato:"Raleway", sans-serif;
    --josefin: "Josefin Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --outfit:"Outfit", sans-serif;
    --freeman:"Freeman", sans-serif;
    --bebas:"Bebas Neue", sans-serif;
    --anton:"Anton SC", sans-serif;
    --heebo:"Heebo", sans-serif;
    --bar-width:30px;
    --bar-height:5px;
    --hamburger-gap:3px;
    --foreground:#333;
    --background:white;
    --hamburger-margin:8px;
    --animation-timing:200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
}

*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.5vh;
    background: rgba(198, 194, 194, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    position: fixed;
    border-bottom: #454e3e 1px solid;
    z-index: 1;
}

.navigation-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 10vh;
    width: 70vw;
    margin: 0 auto ;
}

.logo-menu{
    padding: 0;
    margin: 0;
}

.logo{
    width: 2vw;
}

.logo-text{
    font-size: 2rem;
    font-weight: 800;
    color: #000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    font-size: 1rem;
    margin: 0.3em 1em;
    
}

a{
    text-decoration: none;
    color: var(--highlight);
    font-family: var(--heebo);
    font-weight: 500;
}

.brand{
    color:var(--highlight);
}

.hamburger-menu{
    --x-width:calc(var(--hamburger-height) * 1.41421356237);
    display:flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    top: 1rem;
    z-index: 2;
    margin-right: 1rem;
}

.hamburger-menu:has(input:checked){
    --foreground:var(--highlight);
    --background:#333;

}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible{
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}


.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin:left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/ -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate:-45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height)/ 2);
}


.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: translate var(--animation-timing);
    translate:100vw;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 5.5rem);
    background: var(--green);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 30vw;
    height: 120vh;
    top: 0px;
    z-index: -2;
}

.hamburger-menu:has(input:checked) + .sidebar{
    translate: -3.5vw;
   
}