:root {
    --black: black;
    --brown: #979086;
    --bg: #e7e4dc;
    --yellow: #cfd858;
    --green: #454e3e;
    --tomato: #ff917e;
    --highlight:#ff775f;
    --white-smoke: #e9e9e9;
    --white: white;
    --monstreat:"Montserrat", sans-serif;
    --raleway:"Raleway", sans-serif;
    --lato:"Raleway", sans-serif;
    --josefin: "Josefin Sans", sans-serif;
    --inter: "Inter", sans-serif;
    --outfit:"Outfit", sans-serif;
    --freeman:"Freeman", sans-serif;
    --bebas:"Bebas Neue", sans-serif;
    --anton:"Anton SC", sans-serif;
    --heebo:"Heebo", sans-serif;
    --bar-width:30px;
    --bar-height:5px;
    --hamburger-gap:3px;
    --foreground:#333;
    --background:white;
    --hamburger-margin:8px;
    --animation-timing:200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height)*3 + var(--hamburger-gap)*2);
}

*,*::after, *::before{
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color: var(--bg);
    overflow-x: hidden;
}


.section-title{
    position: relative;
    margin-top:.5vh ;
    margin-bottom: 100px;
    font-family: var(--bebas);
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
    left: 15vw;
}


.content{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}


#end-trigger{
    width: 100vw;
    height: 300vh;
    background-color: #333;
}


.we {
    transition: transform 0.3s ease;
    z-index: 3;
}

.we:hover {
    transform: scale(0.5);
}










@media (min-width:1700px) {

    .navigation-content{
        width: 65vw;
    }
    .sidebar{
        top: 0px;
    }

    .hamburger-menu{
        top: 1.5rem;
    }
    


    .content-container{
        /* background-color: var(--bg); */
        height: 500vh;
        width: 65vw;
        margin: 0 auto;
        /* border: 1px #000 solid; */
    }
    
    .hero-text-container{
        width: 65vw;
        border: 1px #000 solid;
    }

    .hero-text{
        font-size: 4.5rem;
        font-family: var(--heebo);
        font-weight: 700;
        font-style: normal;
        line-height: 90%;
    }
    
    .dev-section{
       height: 70vh;

    }

    
}
